# -----------------------------
# Unity 必须忽略的文件夹 (绝对不能上传!)
# -----------------------------
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# -----------------------------
# 各种垃圾文件
# -----------------------------
*.csproj
*.sln
*.pidb
*.unityproj
*.DS_Store
*.suo
*.user
*.userprefs
