# -----------------------------
# Unity 必须忽略的文件夹 (绝对不能上传!)
# -----------------------------
client/[Ll]ibrary/
client/[Tt]emp/
client/[Oo]bj/
client/[Bb]uild/
client/[Bb]uilds/
client/[Ll]ogs/
client/[Uu]ser[Ss]ettings/

# -----------------------------
# 各种垃圾文件
# -----------------------------
*.csproj
*.sln
*.pidb
*.unityproj
*.DS_Store
*.suo
*.user
*.userprefs
